.app-navbar {
  height: 64px;
  min-height: 64px;
  padding-inline: 1.5rem;
}

.app-navbar__brand {
  font-size: 1rem;
  font-weight: 600;
}

.app-navbar__spacer {
  flex: 1;
}

.app-navbar__logout {
  min-width: 88px;
}

.app-main {
  min-height: calc(100dvh - 64px);
}
