services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: desafio-api
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: desafio-frontend
    ports:
      - "4200:4200"
